
<div class="artigo">
    <iframe width="660" height="370" src="//www.youtube.com/embed/w120gbhBjec" allowfullscreen></iframe>
    <div class="content">
        <h1>Começe a DESLIGARE!</h1>
        <blockquote>Não sou ateu; <b>sou Cético.</b></blockquote>
        Ser ateu é como ter uma outra religião onde não acreditar em deus é <b>obrigatório</b>.<br>
        Como <b>Cético</b>, sou livre para acreditar naquilo que possa ser provado ou não contestado. Livre o suficiente para acreditar em criacionismo, evolucionismo, espiritualidade, deus(es) . . .
        <blockquote>Evolucionismo é apenas mais uma dessas <b>teorias interessantes</b>.</blockquote>
        A teoria da evolução é interessante e pode ser considerada como lógica, porém, ainda não passa de uma <b>teoria</b> com muitas "pontas soltas".
    </div>
</div>

<div class="artigo">
    <iframe width="660" height="370" src="//www.youtube.com/embed/wegyZiA3oBo" allowfullscreen></iframe>
    <div class="content">
        <h1>Aula de Economia</h1>
    </div>
</div>

<div class="artigo">
    <iframe width="660" height="370" src="//www.youtube.com/embed/Jw1zgPY5QCI" allowfullscreen></iframe>
    <div class="content">
        <h1>Isso é de Deus?</h1>
    </div>
</div>

<div class="artigo">
    <iframe width="660" height="370" src="//www.youtube.com/embed/B1dI77FCOLc" allowfullscreen></iframe>
    <div class="content">
        <h1>Pastor "Abençoado"!?</h1>
    </div>
</div>

<div class="artigo">
    <iframe width="660" height="370" src="//www.youtube.com/embed/JjDiZBXgKTM" allowfullscreen></iframe>
    <div class="content">
        <h1>Milagres Nas Igrejas?</h1>
    </div>
</div>
